<mat-horizontal-stepper>
    <mat-step>
        <ng-template matStepLabel>
            Your products
        </ng-template>
        <div *ngIf="(products$ | async) as products">

            <h3 *ngIf="products.length === 0">You have no selected products</h3>

            <ul>
                <li *ngFor="let product of products ">
                    {{product.title}}
                </li>
            </ul>

        </div>


    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>
            Your Data
        </ng-template>

        <form class="container" [formGroup]="form" (ngSubmit)="saveData($event)">

            <div class="row">
                <div class="col-12">
                  <mat-form-field >
                    <mat-label>Name</mat-label>
                    <input
                      formControlName="name"  
                      matInput 
                      type="text"
                      placeholder="Name">
                  </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                <button mat-raised-button type="button" (click)="addAddressField()">Add address</button>
                <div formArrayName="address" *ngFor="let address of addressField.controls; let i=index">

                    <div [formGroupName]="i">
                        <mat-field>
                            <mat-label>ZipCode</mat-label>
                            <input
                                matInput 
                                formControlName="zip"  
                                type="text"
                                placeholder="zip">
                        </mat-field>
                        <mat-field>
                            <mat-label>Text</mat-label>
                            <input
                                matInput 
                                formControlName="text"  
                                type="text"
                                placeholder="text">
                        </mat-field>
                    </div>
                </div>
                </div>
            </div>

            <div class="row">
            <div class="col-12">
                <button mat-raised-button type="submit" [disabled]="form.invalid">Next</button>
            </div>
            </div>
        </form>

    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>
            Payment processor
        </ng-template>
    </mat-step>

</mat-horizontal-stepper>




