<div class="p-3">
    <h1>Basic Forms</h1>

    <form [formGroup]="form" (ngSubmit)="save($event)">

        <div class="form-group">
            <label for="name">Name</label>
            <input 
                class="form-control"
                name="name"
                [class.is-valid]="isNameValid"
                [class.is-invalid]="isNameInValid"
                type="text" 
                formControlName="name"
            >
            <div class="py-3">
                <button mat-raised-button [disabled]="nameField.invalid" (click)="getNameValue()">Get Value</button>
            </div>
            <div class="py-3">
                Data - Name: {{nameField.value}}
            </div>
        </div>


        <div class="my-3">
            <button mat-raised-button type="submit" >Send</button>
        </div>
    </form>

</div>